@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');

h1 {
    font-family: 'Merriweather', serif;
    font-size: 40px;
    color: rgb(17, 124, 143);
}

.project {
    width: 500px;
    margin-right: auto;
    margin-left: auto;

}

main {
    text-align: center;
    background-color: #E5E7EB;
}


.button button{
    background-color: #059669;
    color: white;
    font-family:'Merriweather', serif;
    font-size: 1rem;
    border-radius: 10px;
    padding: 0.8rem;
    margin:0.3rem;
    cursor: pointer;
    outline:none;
    box-shadow: 0 9px #6B7280;


}

h2 {
    color:#1E40AF;
   
    font-size: 40px;
}


p {
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 1rem;
}