@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');

h1 {
    font-family: 'Merriweather', serif;
}

.project {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

main {
    text-align: center;
}